<h2><a href="/messages/new">Post a message</a></h2>

<% @messages.each do |message| %>
  <p>---------------------------------------</p>
  <div class="message">
    <p>
      <a href="/messages/<%= message.id %>">
        <%= message.content %>
      </a>
    <p>
    <% if message.url? %>
      <p>
        <em>url: </em>
          <a href = "<%= message.url %>"><%= message.url %></a>
      </p>
    <% end %>
    <small>by: <%= message.author %></small>
  </div>
<% end %>


